# Docker image naming for build/push
DOCKERHUB_USERNAME=your-dockerhub-username
AUTH_IMAGE_TAG=latest
EUREKA_IMAGE_TAG=latest

# Database config
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

# Authentication service secrets
EMAIL_USERNAME=your-email@gmail.com
EMAIL_PASSKEY=your-email-app-password
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

